body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #0ce0a4, #03553e); 
}

.container {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000000;
}

#status {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 30px;
  margin: 0 auto;
}

.botões {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 3px solid #000000; 
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 0.3s ease;
}


.botões:hover {
  background-color: #1aa839;
}

#Reiniciar {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  border-radius: 100px;
  font-size: 15px;
}

